{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .link-style {
        color: #007bff; /* Blue color, you can change it to match your theme */
        text-decoration: none; /* Remove default underline */
    }
    .link-style:hover {
        text-decoration: underline; /* Underline on hover */
    }
</style>


<!-- Include Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">


<div class="container">
    <h1 class="text-center mt-3">User Profile</h1>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card border-0"> <!-- Added border-0 class -->
                <img src="{% static "user_img.png" %}" class="card-img-top mx-auto d-block" style="width: 200px;" alt="profile picture">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ data }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-block">Edit Profile</a> 
                    {% if user_role == 'employer' %}
                        <a href="{% url 'post_circular' %}" class="btn btn-success btn-block">Post Circular</a>
                        <a href="{% url 'add_category' %}" class="btn btn-info btn-block">Add Job Category</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-8">
            {% if user_role != 'employer' %}
                <h2 class="text-center">My Applications</h2>
                <h6 class="text-center">Total application: {{ applications|length }}</h6>
                {% if applications|length == 0 %}
                    <div class="text-center">
                        <img src="{% static 'no_data.jpg' %}" class="w-50" alt="No data found" />
                    </div>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class='text-center'>Applicant</th>
                                <th class='text-center'>Job Title</th>
                                <th class='text-center'>Published On</th>
                                <th class='text-center'>Last Date</th>
                                <th class='text-center'>View Circular</th>
                                <th class='text-center'>Acction</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in applications %}
                                <tr>
                                    <td>{{ application.applicant.first_name }}</td>
                                    <td>{{ application.job_circular.job_title }}</td>
                                    <td>{{ application.job_circular.post_date }}</td>
                                    <td>{{ application.job_circular.last_date }}</td>
                                    <td><a href="{% url 'circular_details' application.id %}" class="link-style">View Circular</a></td>
                                    <td class='text-center'><a href="{% url 'delete_application' application.id %}"><i class="bi bi-trash3-fill text-danger"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% else %}
                <h2 class="text-center">My Circular</h2>
                <h6 class="text-center">Total circular: {{ applications|length }}</h6>
                <div class='d-flex justify-content-end'>
                    <a href="{% url "applications" %}" class="btn btn-warning btn-block mt-3 text-end">View All Applications</a>
                </div>
                {% if applications|length == 0 %}
                    <div class="text-center">
                        <img src="{% static 'no_data.jpg' %}" class="w-50" alt="No data found" />
                    </div>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Publisher</th>
                                <th>Job Title</th>
                                <th>Compny Name</th>
                                <th>Last Date</th>
                                <th class='text-center'>Acction</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in applications %}
                                <tr>
                                    <td>{{ application.publisher }}</td>
                                    <td>{{ application.job_title }}</td>
                                    <td>{{ application.company_name }}</td>
                                    <td>{{ application.last_date }}</td>
                                    <td class='d-flex justify-content-around'>
                                        <a href="{% url 'circular_details' application.id %}" class="link-style"><i class="bi bi-eye-fill text-success-emphasis"></i></a>
                                        <a href="{% url 'edit_circular' application.id %}" ><i class="bi bi-pencil-square"></i></a>
                                        <a href="{% url 'delete_circular' application.id %}"><i class="bi bi-trash3-fill text-danger"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
