{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Include Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<body style="background-image: linear-gradient(to right, #ffefba, #ffffff);">

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mt-3 mb-4">Post Circular</h1>
                    <form method="POST" class="w-100" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Add more fields as needed -->
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-success btn-block mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
