<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 70px; text-align: center; color: #333333;">
    <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #007bff; margin-bottom: 20px;">Hello {{ user.first_name }} {{ user.last_name }},</h3>
        <p style="margin-bottom: 20px; line-height: 1.6;">We're delighted to inform you that your application for the position of <strong style="color: #007bff;">{{ circular }}</strong> has been successfully submitted.</p>
        <p style="margin-bottom: 20px; line-height: 1.6;">Our team will carefully review your application. In the meantime, feel free to explore more opportunities on our platform.</p>
        <p style="margin-bottom: 20px; line-height: 1.6;">Thank you for choosing us for your job search journey. We wish you the best of luck!</p>
        <div class="footer" style="margin-top: 20px; color: #777777;">
            <p>Best Regards,</p>
            <p>Work Wave Team</p>
        </div>
    </div>
</body>
</html>
